.userQuestionsPage__container {
    display: flex;
}

.userQuestionsPage__sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
}

.userQuestionsPage__content {
    width: 100%;
    height: fit-content;
    padding: 8px;
}


.userQuestionsPage__stickyHeader {
    position: sticky;
    top: 0;
    z-index: 10;
    background: #fff;
    padding: 8px 8px 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.userQuestionsPage__content--options {
    display: flex;
    text-align: center;
    width: 100%;
}

.userQuestionsPage__content--button {
    display: inline-block;
    width: 20%;
    height: 2.5em;
    margin: 10px auto;
    background-color: var(--mt-secondary);
    color: white;
    justify-content: flex-start;
}

.userQuestionsPage__content--spinner{
    border: 1px solid grey;
    border-radius: 10px;
    border-bottom-style: inset;
    height: 70px;
    display: inline-block;
    width: 20%;
    justify-content: flex-end;
    overflow: hidden;
}

.userQuestionsPage__content--spinnerScale {
    transform: scale(0.4);
    transform-origin: top center;
}